.container_article {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.captain-topic h2 {
    margin: 0 auto;
    text-align: center;
    font-size: 55px;
    font-family: "Montserrat";
    position: relative;
}

.captain-topic:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 0;
    background: #f38181;
}

.inside-container {
    margin: 0 auto;
    margin-top: 25px;
    display: block;
}

.photo-article {
    width: 50%;
    height: 60%;
    margin: 0 auto;
    display: block;
    
}

.about-us-text{
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 70%;
}

.captain-article-name {
    padding: 0;
    margin: 20px auto;
    width: 70%;
    font-size: 28px;
    font-family: "Montserrat";
}

.text-article  {
    display: block;
    margin: 0 auto;
    width: 70%;
    font-family: "Montserrat";
    font-size: 25px;
    color: #3a3a3a;
}

.time-of-post, .userPage {
    margin: 20px auto;
    font-family: "Montserrat";
    width: 70%;
    position: relative;
}

.time-of-post {
    color: red;
}



hr {
    margin-top: 10px;
    display: flex;
}




@media screen and (max-width: 990px) {


    .photo-article {
        width: 100%;
    }
    .text-article,
    .about-us-text {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .inside-container {
        display: block;
    }

}

