.card{
    width: 47%;
    height: 500px;
    background-color: #cccccc;
    border-radius: 10px;
    overflow: hidden;
    /*display: inline-block;*/
    margin: 1.5em 0.5em;
    cursor: pointer;
}
.card_photo{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 65%;
    background-size: cover;
}
.card_photo_cover{
    /*background-image: linear-gradient(rgba(255, 255, 255) 25%, black 15%);*/
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(5%, rgba(0, 0, 0, 0.9)), color-stop(50%, rgba(255, 255, 255, 0)));
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 5%, rgba(255, 255, 255, 0) 50%);
    background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.9) 5%, rgba(255, 255, 255, 0) 50%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.9) 5%, rgba(255, 255, 255, 0) 50%);
    height: 100%;
    position: relative;
}

.card_description{
    text-align: center;
    font-size: 25px;
    font-family: "Montserrat";
    color: #3a3a3a;
    padding: 20px;
}

.card_container{
    padding: 0 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.type{
    font-family: "Montserrat";
    color: white;
    font-size: 1.5em;
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}
.card:hover{
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



@media screen and (max-width: 990px) { 

    .card {
        width: 100%;
    }
}
