
* {
    padding: 0;
    margin: 0;
}

body, html {
    overflow-x: hidden;
    background-color: #FFFAF0;
}

header {
    background-color: #FAEBD7;
    opacity: 0.8;
    position: fixed;
    z-index: 1000;
    width: 100%
}

nav {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

#checkbox-menu,
.toggle {
    display: none;
}

.menu {
    font-family: 'Cabin Sketch', cursive;
    padding: 0;
    margin: 0;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    color: #000;
    text-decoration: none;
    align-self: center;
    font-size: 25px;
    padding: 10px 10px;
    transition: background .2 linear;
}

.menu li a:hover {
    background-color: #ffcc01;
    border-radius: 3px;
}

.menu li a.logo {
    font-size: 40px;
    margin-right: 120px;
    font-weight: bold;
}

.menu li a.contacts{
    margin-right: 100px;
}


.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.intro {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

/*Make the wrap #slides the same size as photos*/
/*with setting the same aspect ratio(20x9)*/


@media screen and (max-width: 920px) {

    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        width: 100%;
        color: #000;
        background-color: #ffcc01;
        transition: all .1s linear;
    }
    .toggle:hover {
        background: #d3a900;
    }
     header {
        opacity: 0.9;
    }
    #checkbox-menu:checked + label .touch li{
        opacity: 1;
        visibility: visible;
        transition: all .7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 350px;
    }
    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        -ms-align-items: center;
        align-items: center;
        height: 0px;
        transition: height .3s linear;
    }
    .menu li {
        display: flex;
        align-self: center;
        width: 95%;
        opacity: 0;
        visibility: hidden;
    }

    .menu li a {
        width: 95%;
        text-align: center;
        -ms-align-self: center;
        align-self: center;
        align-content: center;
    }
    .menu li a.logo {
        font-size: 35px;
        margin-right: 0px;
    }

    .menu li a.contacts{
        margin-right: 0px;
    }
}

.search {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.relative {
    position: relative;
    margin-top: 17px;
}

.relative:focus {
    outline: -webkit-focus-ring-color auto 5px;
}

.search-input {
    padding: 10px 35px 10px 10px;
    background-color: #f1f3f5;
    border-radius: 9999px;
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    color: black;
    outline-offset: -2px;
    border-style: solid;
    border-width: 1px;
    border-color: #f1f3f5;
    position: relative;
    font-size: 16px;
    font-family: "Josefin Sans", Arial, sans-serif;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

button, input {
    overflow: visible;
}

.submit-search {
    position: absolute;
    right: 9px;
    top: 10px;
    border: none;
    background: none;
}

.submit-search:focus {
    border: none;
    outline: none;
}

.search-input:focus {
    border-color: #4dabf7;
    outline: none;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.0125), 0 0 8px rgba(34,139,230,0.5);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.0125), 0 0 8px rgba(34,139,230,0.5);
    -webkit-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

i {
    color: grey;
}

i:hover {
    color: black;
}


input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

