.pagination{
    padding: 1em;
    text-align: center;
    font-family: "Montserrat";
}
.pagination a{
    text-decoration: none;
    color: black;
}

.pagination input {
    margin-left: 10px;
    margin-right: 10px;
}
.pagination_nav{
    display: inline;
}
.page_nav{
    display: inline;
    padding: 0;
}
.pagination_page{
    display: inline;
    list-style: none;
    padding: 0.3em 0.6em;
    border-radius: 50%;
}
.page_nav li a{
    font-size: 1em;
    color: black;
    cursor: pointer;
}
.page_input{
    background: transparent;
    width: 3em;
    border-radius: 4px;
    font-size: 1.1em;
    border: 1px solid #ccc;
}

@media screen and (max-width: 920px) {
    .pagination label{
        display: none;
    }
    .pagination input {
        margin-left: 0px;
        margin-right: 0px;
}
    }